/* 
    Document   : default
    Created on : 22/06/2013, 19:38:55
    Author     : Miller
    Description:
        Purpose of the stylesheet follows.
*/


/* Sticky footer styles
-------------------------------------------------- */
*{
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
body {   
    background:  url('../img/background.jpg') no-repeat top center fixed #f8f8f8; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#radio{
    color:#f8f8f8;
    position: relative;
    font-family: 'Francois One', sans-serif;
    font-size: 34px;    
    letter-spacing: -1px;
    font-weight: bold;
    top: 39px;
    left: 51px;
    text-shadow: 0 0 3px #000;
}
h1{
    font-size: 84px;
    text-shadow: -0.06em 0 red, 0.06em 0 cyan;
    font-family: 'Francois One', sans-serif;
    letter-spacing: 1px;
    line-height: 1em;
    color: #106de0;
    font-weight:bold;
    text-shadow:0px 0px 0 rgb(4,97,212),1px 1px 0 rgb(-8,85,200),2px 2px 0 rgb(-20,73,188),3px 3px 0 rgb(-32,61,176),4px 4px 0 rgb(-44,49,164),5px 5px 0 rgb(-56,37,152), 6px 6px 0 rgb(-68,25,140),7px 7px 6px rgba(0,0,0,0.25),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}
.text{
    text-shadow: 0 0 2px #000, 0 0 35px #fff;
    text-align: right;
    background: url('../img/title_bg.jpg');
    position: relative;
    max-width: 260px;
    top: -1px;
    left: 32px;
    z-index: 90;
    padding: 10px;
}



.text h4{
    font-family: 'Francois One', sans-serif;
    color:#bed8ef;
    margin: 0;
    padding: 0;
    padding-right: 21px;
}

.icon-boxTitulo{
    background: url('../img/bg_title.png') no-repeat;
    width: 26px;
    height: 28px;
    position: absolute;
    top: 39px;
    left: -1px;
}

.icon-boxTitulo2{
    background: url('../img/bg_title2.png') no-repeat;
    width: 32px;
    height: 28px;
    position: absolute;
    top: 39px;
    left: 238px;
}

.aovivo{
    position: absolute;
    top: 45px;
    left: 733px;
}

.title{                
    background: url('../img/title_bg.jpg');
    position: relative;
    max-width: 260px;
    top: -1px;
    left: -25px;
    z-index: 90;
    padding: 10px;
}
.title h4{
    text-shadow: 0 0 2px #000, 0 0 35px #fff;
    font-family: 'Francois One', sans-serif;
    color:#bed8ef;
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 70px;
}
#footer {
    background-color: #dbdbdb;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.navbar .navbar-inner .nav{
    text-transform: uppercase;
    font-family: 'Francois One', sans-serif;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    margin-left: 11%;
}
.container .credit {
}

#homeBoxs{
    background: #f5f5f5;
    box-shadow: 3px 3px 5px #b7b7b7, 0 0 5px #cbcbcb;
    margin-bottom: 15px;
    padding-top: 10px;
}

#boxsLateral{
    background: #f5f5f5;
    box-shadow: 3px 3px 5px #b7b7b7, 0 0 5px #cbcbcb;
    margin-bottom: 15px;
    padding-top: 10px;
}

#slides{
    box-shadow: 3px 3px 5px #b7b7b7, 0 0 5px #cbcbcb;
    border-radius: 4px;
}

.noticia {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
    padding-left: 3px;
    padding-top: 3px;
    border-left:5px solid #0F6DDF;
    border-right:5px solid #0F6DDF;
    margin: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e8e7e5', endColorstr = '#ffffff');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e8e7e5', endColorstr = '#ffffff')";
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    background-image: -moz-linear-gradient(top, #e8e7e5, #ffffff);
    background-image: -ms-linear-gradient(top, #e8e7e5, #ffffff);
    background-image: -o-linear-gradient(top, #e8e7e5, #ffffff);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#e8e7e5), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #e8e7e5, #ffffff);
    background-image: linear-gradient(top, #e8e7e5, #ffffff);
    /*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
}

.news{
    padding-top: 4px;
    text-shadow: 0px 0px 3px #fff;
    min-height: 110px; 
    padding-right: 5px;
}
.news p{
    margin: 0px;
    padding: 0px;
}
.title_notice{
    margin-top: 5px;
    text-shadow: 0 0 1px #fff, 1px 1px 0px #000;
    font-size: 24px; 
    text-transform: uppercase;
    font-family: 'Francois One', sans-serif;
}

.title_notice:hover{
    text-decoration: none;
}

.news a img{
    margin-right: 5px;
}

.noticia:hover{    
    -moz-box-shadow: 0px 0px 8px #ccc, inset 0px 3px 3px #999;
    -webkit-box-shadow: 0px 0px 8px #ccc, inset 3px 0px 3px #999;
    box-shadow: 0px 0px 8px #ccc, inset 0px 3px 3px #999;
    border-left:5px solid #000;
    border-right: 5px solid #000;
}

#noticia{
    padding-bottom: 10px;
}